.h-144 {
  height: 36rem;
}

.w-144 {
  width: 36rem;
}

.anim {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.anim--to-left {
  animation-name: to-left;
  animation-duration: 1.2s;
  animation-timing-function: linear;
}

@keyframes to-left {
	50% {
		transform: translate(7.625px, 12px)
	}
}

.anim--incrase {
  animation-name: incrase;
  animation-duration: 1.2s;
  animation-timing-function: linear;
}

@keyframes incrase {
	50% {
		transform: scale(1.25)
	}
}

.anim--to-right {
  animation-name: to-right;
  animation-duration: 1.2s;
  animation-timing-function: linear;
}

@keyframes to-right {
	50% {
		transform: translate(18.625000px, 12px)
	}
}

.anim--decrease {
  animation-name: decrease;
  animation-duration: 1.2s;
  animation-timing-function: linear;
}

@keyframes decrease {
	50% {
		transform: scale(.75)
	}
}

.anim--rotate {
	animation-name: rotate;
	animation-duration: 1.2s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes rotate {
	0% {
		transform: translate(12px, 11.999997px) rotate(0deg)
	}
	100% {
		transform: translate(12px, 11.999997px) rotate(360deg)
	}
}

.anim--left-line {
  animation-name: left-line;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  stroke-dasharray: 16
}

.anim--middle-line {
  animation-name: middle-line;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  stroke-dasharray: 16
}

.anim--right-line {
  animation-name: right-line;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  stroke-dasharray: 16
}

@keyframes left-line {
  0% {
    stroke-dashoffset: 14
  }

  4% {
    stroke-dashoffset: 12
  }

  8% {
    stroke-dashoffset: 10
  }

  16% {
    stroke-dashoffset: 8
  }

  20% {
    stroke-dashoffset: 6
  }

  24% {
    stroke-dashoffset: 7
  }

  28% {
    stroke-dashoffset: 8
  }

  32% {
    stroke-dashoffset: 10
  }

  36% {
    stroke-dashoffset: 8
  }

  40% {
    stroke-dashoffset: 8
  }

  44% {
    stroke-dashoffset: 6
  }

  48% {
    stroke-dashoffset: 4
  }

  52% {
    stroke-dashoffset: 2
  }

  56% {
    stroke-dashoffset: 3
  }

  60% {
    stroke-dashoffset: 3
  }

  64% {
    stroke-dashoffset: 4
  }

  68% {
    stroke-dashoffset: 6
  }

  72% {
    stroke-dashoffset: 5
  }

  76% {
    stroke-dashoffset: 4
  }

  80% {
    stroke-dashoffset: 3
  }

  84% {
    stroke-dashoffset: 2
  }

  88% {
    stroke-dashoffset: 6
  }

  92% {
    stroke-dashoffset: 10
  }

  96% {
    stroke-dashoffset: 12
  }

  to {
    stroke-dashoffset: 14
  }
}

@keyframes middle-line {
  0% {
    stroke-dashoffset: 2
  }

  4% {
    stroke-dashoffset: 4
  }

  8% {
    stroke-dashoffset: 6
  }

  16% {
    stroke-dashoffset: 7
  }

  20% {
    stroke-dashoffset: 7
  }

  24% {
    stroke-dashoffset: 7
  }

  28% {
    stroke-dashoffset: 6
  }

  32% {
    stroke-dashoffset: 8
  }

  36% {
    stroke-dashoffset: 4
  }

  40% {
    stroke-dashoffset: 4
  }

  44% {
    stroke-dashoffset: 2
  }

  48% {
    stroke-dashoffset: 6
  }

  52% {
    stroke-dashoffset: 8
  }

  56% {
    stroke-dashoffset: 10
  }

  60% {
    stroke-dashoffset: 9
  }

  64% {
    stroke-dashoffset: 6
  }

  68% {
    stroke-dashoffset: 5
  }

  72% {
    stroke-dashoffset: 4
  }

  76% {
    stroke-dashoffset: 3
  }

  80% {
    stroke-dashoffset: 3
  }

  84% {
    stroke-dashoffset: 4
  }

  88% {
    stroke-dashoffset: 4
  }

  92% {
    stroke-dashoffset: 8
  }

  96% {
    stroke-dashoffset: 6
  }

  to {
    stroke-dashoffset: 8
  }
}

@keyframes right-line {
  0% {
    stroke-dashoffset: 12
  }

  4% {
    stroke-dashoffset: 8
  }

  8% {
    stroke-dashoffset: 6
  }

  16% {
    stroke-dashoffset: 4
  }

  20% {
    stroke-dashoffset: 2
  }

  24% {
    stroke-dashoffset: 2
  }

  28% {
    stroke-dashoffset: 6
  }

  32% {
    stroke-dashoffset: 8
  }

  36% {
    stroke-dashoffset: 10
  }

  40% {
    stroke-dashoffset: 12
  }

  44% {
    stroke-dashoffset: 14
  }

  48% {
    stroke-dashoffset: 12
  }

  52% {
    stroke-dashoffset: 8
  }

  56% {
    stroke-dashoffset: 6
  }

  60% {
    stroke-dashoffset: 4
  }

  64% {
    stroke-dashoffset: 4
  }

  68% {
    stroke-dashoffset: 5
  }

  72% {
    stroke-dashoffset: 4
  }

  76% {
    stroke-dashoffset: 6
  }

  80% {
    stroke-dashoffset: 4
  }

  84% {
    stroke-dashoffset: 2
  }

  88% {
    stroke-dashoffset: 2
  }

  92% {
    stroke-dashoffset: 4
  }

  96% {
    stroke-dashoffset: 6
  }

  to {
    stroke-dashoffset: 8
  }
}

.anim--infinite {
  animation-iteration-count: infinite;
}
